@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Open+Sans:wght@300&display=swap');

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/CerebriSansPro-Bold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Mandali', sans-serif;
  color: #6c757d;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  gap: 30px;
}

.d_flex {
  display: flex;
}

header .container {
  justify-content: space-between;
  padding-top: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul {
  display: flex;
  gap: 37px;
  padding-left: 18px;
}

.account ul {
  display: flex;
  gap: 25px;
}

header .container img {
  padding-top: 5px;
}

.sign-up {
  width: 90px;
  height: 40px;
  background: rgba(31, 97, 235, 0.15);
  color: #1f61eb;
  border-radius: 4px;
  padding: 4px 13px;
  margin: -5px;
  transition: all 0.5s ease-in-out;
}

#home {
  padding-top: 170px;
  background: url('../images/hero-3-bg.png') no-repeat top center / cover;
  padding-bottom: 140px;
}

.column {
  width: 50%;
}

.left-aligne {
  padding-top: 68px;
}

.left-aligne p {
  font-size: 17px;
}

#home .left-aligne ul {
  padding-bottom: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cerebri Sans';
  color: #343a40;
  margin-top: 0;
}

#home .column h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 56px;
  line-height: 68px;
}

a {
  display: block;
  text-decoration: none;
  color: #6c757d;
}

img {
  max-width: 100%;
}

#home .left-aligne li {
  display: flex;
  align-items: center;
  gap: 13px;
}

#home .left-aligne li::before {
  content: '\F270';
  font-family: bootstrap-icons;
  color: #39e5b7;
  font-weight: bold;
}

.button {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background: #1f61eb;
  color: white;
  font-size: 17px;
  padding: 9px 30px;
  transition: all 0.5s ease-in-out;
}

#howitwork {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  text-align: center;
}

.top-section {
  text-align: center;
  margin-bottom: 3rem;
}

.top-section h4 span {
  color: #6c757d;
}

.top-section h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.top-section p {
  max-width: 560px;
  margin: 0 auto;
  margin-bottom: 10px;
  line-height: 27px;
}

#howitwork .step {
  text-align: center;
  position: relative;
}

.icon {
  width: 96px;
  height: 96px;
  border-radius: 28% 72% 50% 50%/26% 20% 80% 74%;
  background: rgba(31, 97, 235, 0.15);
  margin: 0 auto 35px;
}

.icon i {
  font-size: 50px;
  color: black;
}

#howitwork .step:nth-child(2) .icon {
  background: rgba(28, 225, 172, 0.15);
}

#howitwork .step:nth-child(3) .icon {
  background: rgba(255, 194, 18, 0.15);
}

#howitwork .step p {
  line-height: 25px;
}

#howitwork .step:nth-child(1):after {
  position: absolute;
  top: 145px;
  left: 306px;
  content: url(../images/arrow-top.png);
  font-weight: bold;
}

#howitwork .step:nth-child(2):after {
  position: absolute;
  top: 145px;
  left: 306px;
  content: url(../images/arrow-bottom.png);
  font-weight: bold;
}

section {
  padding-top: 90px;
  padding-bottom: 90px;
}

#features {
  background: #f8f9fa;
}

#features .container.d_flex {
  padding-left: 30px;
  gap: 0;
}

#features li,
#connecting li {
  position: relative;
  padding: 12px 0 12px 60px;
}

#features li i,
#connecting li i {
  position: absolute;
  top: 16px;
  left: 0;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgb(21 16 91 / 12%);
  color: #1f61eb;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

#features image {
  padding-left: 25px;
}

#features .column.right {
  margin-top: 100px;
  margin-left: 95px;
  padding-left: 20px;
}

#features h1,
#connecting h1 {
  font-size: 38px;
}

#features p,
#connecting p {
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 1rem;
}

#connecting {
  background: url(../images/features-bg.png) no-repeat 7% top / cover;
  width: 100%;
}

#connecting .column.left {
  padding-top: 60px;
  padding-right: 88px;
}

#connecting .column.right {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.achievments {
  background: url(../images/counter-bg.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  gap: 25px;
  background-attachment: fixed;
  position: relative;
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #343a40;
  opacity: 0.85;
}

.achievment {
  display: flex;
  align-content: center;
  width: 255px;
  height: 125px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 20px rgb(52 58 64 / 10%);
  padding: 20px;
  z-index: 1;
}

.icon1 {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  align-content: center;
  justify-content: center;
}

.achievment .icon1 i {
  font-size: 40px;
  color: white;
}


.achievment .text {
  margin-left: 15px;
  text-align: left;
}

.achievment h1 {
  color: white;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.achievment p {
  font-family: "Mandali", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

.photo-section {
  display: block;
  overflow: hidden;
}

.hidden-sides-section {
  padding: 50px 0;
  display: flex;
  width: 122%;
  gap: 10px;
  margin-left: -125px;
}

.screenshots {
  border: 1px solid wheat;
  border-radius: 10px;
  overflow: hidden;
}

.screenshots.active {
transform: scale(1.1);
box-shadow: 0 0 10px 3px #f7f7f7;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-6 {
  opacity: 0.6;
}

.radio-buttons {
  gap: 10px;
  justify-content: center;
}

.button1 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #87a3e1;
}

.button1.active {
  background: blue;
}

.button1.active span {
  display: block;
  position: relative;
}

.button1.active span:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 13px;
  height: 13px;
  border: 1px solid #1f61eb;
  border-radius: 50%;
}