$gray: gray;
$blue: skyblue;
$red: crimson;
$pink: pink;
$yellow: darkorange;
$green: greenyellow;

:export {
  gray: gray;
  blue: skyblue;
  red: crimson;
  pink: pink;
  yellow: darkorange;
  green: greenyellow;
}