$mono: 'DM Mono',
    monospace;
$zana: 'Noto Sans Zanabazar Square',
    sans-serif;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  width: 100%;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}


.nav {
  .nav-item {
    margin-top: 10px;
  }
  a {
    font-size: 26px;
    letter-spacing: 3px;
    &.active {
      color: crimson;
    }
  }
  .user {
    padding: 10px;
    a {
      font-size: 20px;
      letter-spacing: 1px;
      text-decoration: none;
      color: white;
    }
    .user-logged {
      padding: 10px;
      span {
        color: white;
        padding: 0 5px;
      }
      a {
        cursor: pointer;
      }
    }
    .user-not-logged {
      padding: 10px;
      background-color: skyblue;

    }
  }
}

.home{
  display: flex;
  justify-content: center;
  .home-left {
    width: 50%;
    margin: 10px;
    img {
      width: 100%;
    }
  }
  .home-right {
    width: 50%;
    margin: 10px;
    text-align: center;
    h1 {
      margin: 15px;
    }
    h3 {
      margin-bottom: 75px;
    }
    p {
      font-size: 5px;
    }
  }

}

.ribbon {
  width: 100%;
  height: 90px;
  background: #61dafb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin: 0;

  .logo {
      width: 90px;
      height: 80px;
      background-color: yellow;
      position: absolute;
      top: 0;
      left: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
          height: 100px;
      }
  }

  p {
      margin: 0 200px;
      font-size: 40px;
      font-weight: 500;
  }
}


.stat {
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: 1px solid rgb(209, 17, 17);
  padding: 5px;
  font-family: monospace;
  font-size: 20px;
  font-weight: 100;
  color: blue;
  margin: 6px 0;

  p {
      margin: 0 20px;
  }
}

.filter {
  p {
      color: aqua;
  }
  input {
      font-family: $mono;
      font-size: 20px;
      outline: none;
      border: none;
      background-color: #61dafb;
      padding: 5px 7px;
      border-radius: 5px;
      color: black;
      margin: 3px;
  }

  label {
      width: auto;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(195, 192, 192);
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      line-height: 20px;
      font-family: "DM Mono", monospace;
      -webkit-user-select: none;
      user-select: none;
      transition: all 0.3s;
      margin: 5px;
      padding: 0 10px;
  }

  [type=checkbox]:checked+label {
      background-color: #61dafb;
  }
  
  [type=checkbox] {
      display: none;
  }
}


fieldset {
  border: 1px solid rgb(209, 17, 17);
  margin: 5px;
  display: flex;
  justify-content: center;
  gap: 20px;

  legend {
      color: blue;
      font-size: small;

  }
}

input {
  font-family: $mono;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #61dafb;
  padding: 5px 7px;
  border-radius: 5px;
  color: white;
  margin: 3px;

  &[type=color] {
      width: 50px;
      height: 50px;
      border: none;
      padding: 0;
      background-color: transparent;
  }

  &[type=range] {
      border: none;
      padding: 0;
  }
}


.clients {
  font-size: 20px;
  width: 80%;
  height: 375px;
  background-color: #fff;
  overflow: auto;

  .client {
      width: 100%;
      display: flex;
      justify-content: left;
      color: black;
      background-color: #e1dede;

      .name {
          text-align: left;
          width: 10%;
          margin: 5px 15px;
          padding: 5px 7px;
          display: flex;
          align-items: center;
      }

      .lname {
          text-align: left;
          width: 13%;
          margin: 5px 15px;
          padding: 5px 7px;
          display: flex;
          align-items: center;
      }

      .balance {
          justify-content: right;
          width: 15%;
          margin: 5px 15px;
          padding: 5px 7px;
          display: flex;
          align-items: center;
      }

      .operational-ammount {
          width: 17%;
          align-items: flex-end;
          margin: 5px 15px;
          padding: 5px 7px;
          display: flex;
          align-items: center;
          justify-content: right;

          input {
              width: 60%;
              text-align: right;
          }

      }

      .operation {
          width: auto;
          margin: 5px 15px;
          padding: 5px 7px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          button {
              margin: 2px;
          }
      }
  }
}

.clients-header {
  font-size: 20px;
  display: flex;
  width: 80%;
  height: 50px;
  background-color: #fff;
  overflow: auto;
  margin: 5px 20px;
  justify-content: left;
  color: black;
  border: 1px solid rgb(224, 18, 18);

  .name {
      text-align: left;
      width: 10%;
      margin: 5px 15px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
  }

  .lname {
      text-align: left;
      width: 13%;
      margin: 5px 15px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
  }

  .balance {
      justify-content: right;
      width: 15%;
      margin: 5px 15px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
  }

  .operational-ammount {
      width: 17%;
      align-items: flex-end;
      margin: 5px 15px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: right;

      input {
          width: 60%;
          text-align: right;
      }

  }

  .operation {
      width: auto;
      margin: 5px 15px;
      padding: 5px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
          margin: 2px;
      }
  }
}

.modal-buttons {
  display: flex;
  justify-content: center;
}


$gray: gray;
$blue: skyblue;
$red: crimson;
$pink: pink;
$yellow: darkorange;
$green: greenyellow;

button {
  display: inline-block;
  min-width: 100px;
  margin: 16px;
  padding: .5rem 1rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid $gray;
  outline: none;
  cursor: pointer;

  &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray;
      border-radius: 10rem;
      z-index: -2;
  }

  &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: darken($gray, 15%);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
  }

  &:hover {
      color: #fff;

      &:before {
          width: 100%;
      }
  }

  &.blue {
      border: 1px solid $blue;

      &:after {
          background-color: $blue;
      }

      &:before {
          background-color: darken($blue, 15%);
      }
  }

  &.red {
      border: 1px solid $red;
      font-size: 10px;
      padding: .3rem 0.5rem;

      &:after {
          background-color: $red;
      }

      &:before {
          background-color: darken($red, 15%);
      }
  }

  &.pink {
      border: 1px solid $pink;

      &:after {
          background-color: $pink;
      }

      &:before {
          background-color: darken($pink, 15%);
      }
  }

  &.yellow {
      border: 1px solid $yellow;

      &:after {
          background-color: $yellow;
      }

      &:before {
          background-color: darken($yellow, 15%);
      }
  }

  &.green {
      border: 1px solid $green;

      &:after {
          background-color: $green;
      }

      &:before {
          background-color: darken($green, 15%);
      }
  }

  &.small {
      padding: .3rem .3rem;
      border-radius: 10rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 0.6rem;
      letter-spacing: .1rem;
      line-height: 1;
  }
}
